#root {
  width: 560px;
  margin-left: auto;
  margin-right: auto;
}

form {
  text-align: left;
}

.field .field-object {
  background-color: rgb(245, 245, 245);
  padding: 10px 10px 10px 15px;
  margin-bottom:20px;
}

legend {
  font-weight: bolder; 
}

label{
  display: inline;
  vertical-align: middle;
  float: left;
  clear: left;
  width: 48%;
}

.form-control {
  display: inline;
  vertical-align: middle;
  float: left;
  width: 50%;
  margin:3px;
}
