#root {
  width: 560px;
  margin-left: auto;
  margin-right: auto;
}

form {
  text-align: left;
}

.field .field-object {
  background-color: rgb(245, 245, 245);
  padding: 0px 10px 10px 15px;
  margin-bottom: 15px;
}

.field .field-string {
  margin-bottom:0px;
}

legend {
  font-weight: bolder; 
}

label {
  display: inline;
  vertical-align: middle;
  float: left;
  clear: left;
  width: 48%;
}

.form-control {
  width: 50%;  
  margin:3px;
    line-height: 0px;
}

.field {
  width: 100%;
}

div .col-xs-9 {
  padding: 0px;
  margin: 0px;

}

div {
  padding: 0px;
}

input {
  line-height: 12px;
}

.col-xs-2 {
  width: 0;
  margin: 0;
  padding: 0;
}