#root {
  width: 490px;
  margin-left: auto;
  margin-right: auto;
}


.field .field-object {
  background-color: rgb(245, 245, 245);
  padding: 0px 10px 10px 10px;
  margin-bottom: 15px;
}

.form-group .field .field-string {
  margin-bottom: 5px;
}

.field .field-object .workorder{
  padding: 0px 00px 0px 0px;
  margin-bottom: 0px;
}

.form-control {
   padding: 0px 10px 0px 10px;
 }

div {
  margin: 1px;
}

.col-xs-9 {
  width:100%;
  padding: 0px;
}
.checkbox {
  clear:both;
}
legend {
  font-weight: bolder; 
  margin-bottom:10px;
  padding-top: 10px;
}

.field-description {
  float: right;
  font-style: italic;
  margin-left: 0px;
  clear: left;
}

label { 
  padding-left: 0px;
  padding-right: 10px;
  padding-bottom: 5px;
  margin-bottom: 0px;
}

.row .array-item-list {
  padding: 0px;
  margin: 0px;
}
.row {
  margin: 10px 0px 0px 10px;
}

.array-item-toolbox {
  padding: 5px;
}
.col_left {
  width:49%;
  float: left;
}

.col_right {
  width:49%;
  float:right;
  clear:;
}